---
active_section: bio
title: Bio
---

<style>
  .paper-subhead {
    font-style: italic;
  }
  .paper-subhead:not(:first-child) {
    margin-top: 1em;
  }
  h5 {
    font-weight: bold;
  }

  .hidden-sm {
    display: none;
  }
  .hidden-md {
    display: block;
  }

  @media screen and (min-width: 992px) {
    .hidden-sm {
      display: block;
    }

    .hidden-md {
      display: none;
    }
  }
</style>

<div class="row">
  <div class="col-sm-12 col-md-4">
    <img src="{{ "/images/jzong-2024-3-4.jpg"  | prepend: site.baseurl }}" alt="A professional photo of Jonathan Zong. He is Chinese-American with black hair and dark round glasses, wearing a dark blue 3/4 sleeve shirt and black pants. He is standing in front of a light stone wall, with his hand in his pocket, angled slightly away from the camera." />
    <p style="font-size: 12px; margin-top: 3px;">
      Photo: <a href="https://helenlin.me/about.html">Helen Lin</a>
    </p>
    <p>
      High-res photos
      <ul>
        <li><a href="{{ "/images/jzong-2024.jpg"  | prepend: site.baseurl }}" title="Headshot">Headshot</a></li>
        <li><a href="{{ "/images/jzong-2024-3-4.jpg"  | prepend: site.baseurl }}" title="3/4 Shot">3/4 shot</a></li>
      </ul>
    </p>
    <div class="hidden-sm">
      {% include bio-links.html %}
    </div>
  </div>
  <div class="col-sm-12 col-md-8">
    <h5 style="margin-top:0">One sentence bio</h5>
    <p>
      Jonathan Zong is a computer scientist and visual artist who uses design to understand and re-imagine socio-technical systems.
    </p>

    <h5>Short bio</h5>

    <p>
      Jonathan Zong is a computer scientist and visual artist who uses design to understand and re-imagine socio-technical systems. He completed his Ph.D. at MIT with the Visualization Group and will be Assistant Professor in Information Science at University of Colorado Boulder in 2025. In his research, Jonathan partners with blind collaborators and study participants to co-design interfaces for non-visual data exploration. He also develops software and conceptual frameworks for managing the ethics of consent in large-scale social media data collection. Jonathan's work has been recognized by the MIT Morningside Academy for Design Fellowship, the Paul and Daisy Soros Fellowship for New Americans, and Forbes 30 Under 30 Scientists. As a practicing artist, his work has been exhibited at events and venues including MIT's Wiesner Gallery, the Marcel Broodthaers Society of America, and the Centre National du Graphisme.
    </p>

    <h5>Long bio</h5>
    <p>
      Jonathan Zong is a researcher who uses design as a method for understanding and re-imagining socio-technical systems. Trained as a computer scientist and visual artist, he uses design to create artifacts that empower marginalized individuals and communities while advancing scholarly conversations about the technical and ethical aspects of building interactive systems.
    </p>
    <p>
      In his research, Jonathan partners with blind collaborators and study participants to co-design interfaces for non-visual data exploration. These interfaces support the autonomy and agency of blind and low-vision users to conduct self-guided data analysis and help them establish common ground with sighted users with shared spatial data metaphors.
    </p>
    <p>
      In addition to his accessible visualization work, he has designed open-source software for managing the ethics of consent in large-scale social media research. He has also developed conceptual frameworks for designers and activists to develop strategies for refusing mass data collection by powerful actors.
    </p>
    <p>
      As a practicing artist, his work has been exhibited at events and venues including MIT's Wiesner Gallery, the Marcel Broodthaers Society of America, and the Centre National du Graphisme.
    </p>
    <p>
      Jonathan completed his Ph.D. in Computer Science (minor in Science, Technology, and Society) at MIT with the Visualization Group, and his B.S.E. in Computer Science (minor in Visual Arts) at Princeton University. He will be Assistant Professor in Information Science at University of Colorado Boulder in 2025.
    </p>
    <p>
      His work has been recognized by numerous awards and honors, including the Paul and Daisy Soros Fellowship for New Americans, the MIT Morningside Academy for Design Fellowship, and Forbes 30 Under 30 Scientists.
    </p>
    <div class="hidden-md">
      <hr/>
      {% include bio-links.html %}
    </div>
  </div>
</div>
