---
active_section: cv
title: CV
---
<meta name="robots" content="noindex">
<link rel="stylesheet" href="{{ "/stylesheets/cv.css" | prepend: site.baseurl }}">

<section id="getpdf"><a href="/assets/jzong_cv.pdf">Download CV (PDF)</a></section>

<section id="cv-head">
    <div class="col-print-9">
      <h1>Jonathan Zong</h1>
    </div>
    <div class="col-print-3" id="cv-contact">
      <div><a href="https://jonathanzong.com/">www.jonathanzong.com</a></div>
      <div><a href="mailto:jonathan@jonathanzong.com">jonathan@jonathanzong.com</a></div>
    </div>
</section>

<section>
    <div class="col-print-3">
      <h2>Education</h2>
    </div>
    <div class="col-print-9">
      {% for school in site.data.cv.education %}
      <div class="entry">
        <h3>{{ school.institution }}</h3>

        {% for entry in school.entries %}
        <div style="display:flex">
          <div class="col-print-3">
            {{ entry.period }}
          </div>
          <div class="col-print-9">
            {% for item in entry.items %}
              <div{% if item.meta %} class="meta-text"{% endif %}>{{ item.text }}</div>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
</section>



<section>
  <div class="col-print-3">
    <h2>Employment</h2>
  </div>
  <div class="col-print-9">
    {% for job in site.data.cv.employment %}
      {% unless job.positions[0].hidden %}
      <div class="entry">
        <h3>{{ job.institution }}{% if job.department %}, {{ job.department }}{% endif %}</h3>

        {% for position in job.positions %}
          {% unless position.hidden %}
          <div style="display:flex">
            <div class="col-print-3">
              {{ position.period }}
            </div>
            <div class="col-print-9">
              <div>{{ position.title }}</div>
              {% if position.subtitle %}
                {% for sub in position.subtitle %}
                  <div class="meta-text">{{ sub }}</div>
                {% endfor %}
              {% endif %}
            </div>
          </div>
          {% endunless %}
        {% endfor %}
      </div>
      {% endunless %}
    {% endfor %}
  </div>
</section>


<section>
  <div class="col-print-3">
    <h2>Awards & Honors</h2>
  </div>
  <div class="col-print-9">
    {% for entry in site.data.cv.awards %}
      {% assign year = entry[0] %}
      <div class="entry">
        <div style="display:flex">
          <div class="col-print-3">
            {{year}}
          </div>
          <div class="col-print-9">
            {% for award in site.data.cv.awards[year] %}
              <div>{{award.title}}</div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

</section>



<section>
  <div class="col-print-3">
    <h2>Publications</h2>
  </div>
  <div class="col-print-9">
    <h3>Peer-Reviewed Publications</h3>
    {% for pub in site.data.cv.publications.pubs %}
      <div class="entry">
        {{pub.year}}. {% if pub.url %}<a class="paper-title" href="{{pub.url}}">{{pub.title}}</a>{% else %}<span class="paper-title">{{pub.title}}</span>{% endif %}. <span class="paper-authors">{{pub.authors}}</span>. {% if pub.venue %}<span class="paper-venue">{{pub.venue}}</span>.{% endif %} {% if pub.award %}<span class="paper-award">{{pub.award}}</span>{% endif %}
      </div>
    {% endfor %}

    <h3>Edited Publications</h3>
    {% for pub in site.data.cv.publications.magazines %}
      <div class="entry">
        {{pub.year}}. {% if pub.url %}<a class="paper-title" href="{{pub.url}}">{{pub.title}}</a>{% else %}<span class="paper-title">{{pub.title}}</span>{% endif %}. <span class="paper-authors">{{pub.authors}}</span>. {% if pub.venue %}<span class="paper-venue">{{pub.venue}}</span>.{% endif %}
      </div>
    {% endfor %}

    <h3>Workshops, Conferences, Posters, and Demos</h3>
    {% for pub in site.data.cv.publications.wopodemo %}
      <div class="entry">
        {{pub.year}}. {% if pub.url %}<a class="paper-title" href="{{pub.url}}">{{pub.title}}</a>{% else %}<span class="paper-title">{{pub.title}}</span>{% endif %}. <span class="paper-authors">{{pub.authors}}</span>. {% if pub.venue %}<span class="paper-venue">{{pub.venue}}</span>.{% endif %} {% if pub.award %}<span class="paper-award">{{pub.award}}</span>{% endif %}
      </div>
    {% endfor %}

    <h3>Theses</h3>
    {% for pub in site.data.cv.publications.thesis %}
      <div class="entry">
        {{pub.year}}. {% if pub.url %}<a class="paper-title" href="{{pub.url}}">{{pub.title}}</a>{% else %}<span class="paper-title">{{pub.title}}</span>{% endif %}. {% if pub.venue %}<span class="paper-venue">{{pub.venue}}</span>.{% endif %}
      </div>
    {% endfor %}
  </div>

</section>

<section>
  <div class="col-print-3">
    <h2>Talks & Presentations</h2>
  </div>
  <div class="col-print-9">
    <h3>Invited Talks</h3>
    {% for talk in site.data.cv.talks.invited %}
      <div class="entry">
        {% if talk.url %}<a class="paper-title" href="{{talk.url}}">{{talk.title}}</a>{% else %}<span class="paper-title">{{talk.title}}</span>{% endif %}
        {% for instance in talk.instances %}
          <div class="paper-venue--list">{{instance.year}}. {{instance.venue}}</div>
        {% endfor %}
      </div>
    {% endfor %}

    <h3>Conference Talks and Panels</h3>
    {% for talk in site.data.cv.talks.conference %}
      <div class="entry">
        {% if talk.url %}<a class="paper-title" href="{{talk.url}}">{{talk.title}}</a>{% else %}<span class="paper-title">{{talk.title}}</span>{% endif %}
        {% for instance in talk.instances %}
          <div class="paper-venue--list">{{instance.year}}. {{instance.venue}}</div>
        {% endfor %}
      </div>
    {% endfor %}

    <h3>Invited Seminar Participation</h3>
    {% for talk in site.data.cv.talks.seminar %}
      <div class="entry">
        {% if talk.url %}<a class="paper-title" href="{{talk.url}}">{{talk.title}}</a>{% else %}<span class="paper-title">{{talk.title}}</span>{% endif %}
        {% for instance in talk.instances %}
          <div class="paper-venue--list">{{instance.year}}. {{instance.venue}}</div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</section>


<section>
  <div class="col-print-3">
    <h2>Public Scholarship</h2>
  </div>
  <div class="col-print-9">
    <h3>Op-Eds</h3>
    {% for pub in site.data.cv.public_scholarship.opeds %}
      <div class="entry">
        {{pub.year}}. {% if pub.url %}<a class="paper-title" href="{{pub.url}}">{{pub.title}}</a>{% else %}<span class="paper-title">{{pub.title}}</span>{% endif %}. <span class="paper-authors">{{pub.authors}}</span>. {% if pub.venue %}<span class="paper-venue">{{pub.venue}}</span>.{% endif %}
      </div>
    {% endfor %}

    <h3>Conversations</h3>
    {% for pub in site.data.cv.public_scholarship.conversations %}
      <div class="entry">
        {{pub.year}}. {% if pub.url %}<a class="paper-title" href="{{pub.url}}">{{pub.title}}</a>{% else %}<span class="paper-title">{{pub.title}}</span>{% endif %}. {% if pub.authors %}<span class="paper-authors">{{pub.authors}}</span>.{% endif %} {% if pub.venue %}<span class="paper-venue">{{pub.venue}}</span>.{% endif %}
      </div>
    {% endfor %}

    <h3>Data Journalism</h3>
    {% for pub in site.data.cv.public_scholarship.datajourn %}
      <div class="entry">
        {{pub.year}}. {% if pub.url %}<a class="paper-title" href="{{pub.url}}">{{pub.title}}</a>{% else %}<span class="paper-title">{{pub.title}}</span>{% endif %}. <span class="paper-authors">{{pub.authors}}</span>. {% if pub.venue %}<span class="paper-venue">{{pub.venue}}</span>.{% endif %}
      </div>
    {% endfor %}

    <h3>Policy Engagement</h3>
    {% for pub in site.data.cv.public_scholarship.policy %}
      <div class="entry">
        {{pub.year}}. {% if pub.url %}<a class="paper-title" href="{{pub.url}}">{{pub.title}}</a>{% else %}<span class="paper-title">{{pub.title}}</span>{% endif %}. <span class="paper-authors">{{pub.authors}}</span>. {% if pub.venue %}<span class="paper-venue">{{pub.venue}}</span>.{% endif %}
      </div>
    {% endfor %}
  </div>
</section>

<section>
  <div class="col-print-3">
    <h2>Exhibitions</h2>
  </div>
  <div class="col-print-9">
    {%  for entry in site.data.cv.exhibitions %}
      {% assign year = entry[0] %}
      <div class="entry">
        <div style="display:flex">
          <div class="col-print-3">
            {{year}}
          </div>
          <div class="col-print-9">
            {% for pub in site.data.cv.exhibitions[year] %}
              <div>{% if pub.url %}<a class="paper-title" href="{{pub.url}}">{{pub.title}}</a>{% else %}<span class="paper-title">{{pub.title}}</span>{% endif %}. {% if pub.venue %}<span class="paper-venue">{{pub.venue}}</span>.{% endif %}</div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}

  </div>
</section>

<section>
  <div class="col-print-3">
    <h2>Collections</h2>
  </div>
  <div class="col-print-9">
    {% for entry in site.data.cv.collections %}
      {% assign year = entry[0] %}
      <div class="entry">
        <div style="display:flex">
          <div class="col-print-3">
            {{year}}
          </div>
          <div class="col-print-9">
            {% for item in site.data.cv.collections[year] %}
              <h3>{{item.institution}}</h3>
              <div class="meta-text">{% if item.url %}<a href="{{item.url}}">{{item.title}}</a>{% else %}{{item.title}}{% endif %}</div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

<section>
  <div class="col-print-3">
    <h2>Art Book Fairs</h2>
  </div>
  <div class="col-print-9">
    {% for entry in site.data.cv.art_book_fairs %}
      {% assign year = entry[0] %}
      <div class="entry">
        <div style="display:flex">
          <div class="col-print-3">
            {{year}}
          </div>
          <div class="col-print-9">
            {% for item in site.data.cv.art_book_fairs[year] %}
              <div class="paper-title">{{item.title}}</div>
              {% if item.meta %}<div class="meta-text">{{item.meta}}</div>{% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

<section>
  <div class="col-print-3">
    <h2>Teaching</h2>
  </div>
  <div class="col-print-9">
    <h3>Instructor</h3>

    {% for pub in site.data.cv.teaching.instructor %}
      <div class="entry">
        <div>{{pub.year}}. {% if pub.url %}<a class="paper-title" href="{{pub.url}}">{{pub.title}}</a>{% else %}<span class="paper-title">{{pub.title}}</span>{% endif %}. {{ pub.institution }}</div>
        {% if pub.meta %}<div class="meta-text">{{ pub.meta }}</div>{% endif %}
      </div>
    {% endfor %}

    <h3>Guest Lecturer / Speaker</h3>

    {% for pub in site.data.cv.teaching.guest %}
      <div class="entry">
        <div>{{pub.year}}. {% if pub.url %}<a class="paper-title" href="{{pub.url}}">{{pub.title}}</a>{% else %}<span class="paper-title">{{pub.title}}</span>{% endif %}. {{ pub.institution }}</div>
        {% if pub.meta %}<div class="meta-text">{{ pub.meta }}</div>{% endif %}
      </div>
    {% endfor %}

    <h3>Guest Critic</h3>

    {% for pub in site.data.cv.teaching.critic %}
      <div class="entry">
        <div>{{pub.year}}. {% if pub.url %}<a class="paper-title" href="{{pub.url}}">{{pub.title}}</a>{% else %}<span class="paper-title">{{pub.title}}</span>{% endif %}. {{ pub.institution }}</div>
        {% if pub.meta %}<div class="meta-text">{{ pub.meta }}</div>{% endif %}
      </div>
    {% endfor %}

  </div>
</section>

<section>
  <div class="col-print-3">
    <h2>Mentoring &amp; Advising</h2>
  </div>
  <div class="col-print-9">
    <h3>M.S. Advisees</h3>
    {% for name in site.data.cv.mentorship.advisees.ms %}
      <div>{{name}}</div>
    {% endfor %}

    <h3>Ph.D. Dissertation Committees</h3>
    {% for name in site.data.cv.mentorship.committees.dissertation %}
      <div>{{name}}</div>
    {% endfor %}

    <h3>Ph.D. Preliminary Exam &amp; Proposal Committees</h3>
    {% for name in site.data.cv.mentorship.committees.prelimOrProposal %}
      <div>{{name}}</div>
    {% endfor %}

    <h3>M.Eng. Students <span class="meta-text">(mentored as a Ph.D. student)</span></h3>
    {% for pub in site.data.cv.mentorship.asPhdStudent.meng %}
      <div class="entry">
        <div style="display:flex">
          <div class="col-print-3">
            {{pub.year}}
          </div>
          <div class="col-print-9">
            <div>{{pub.names}}</div>
          </div>
        </div>
      </div>
    {% endfor %}

    <h3>Undergraduate Students <span class="meta-text">(mentored as a Ph.D. student)</span></h3>
    {% for pub in site.data.cv.mentorship.asPhdStudent.undergrad %}
      <div class="entry">
        <div style="display:flex">
          <div class="col-print-3">
            {{pub.year}}
          </div>
          <div class="col-print-9">
            <div>{{pub.names}}</div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

<section>
  <div class="col-print-3">
    <h2>Service</h2>
  </div>
  <div class="col-print-9">
    <h3>University Service</h3>
    {% for item in site.data.cv.service.university %}
      <div class="entry">
        <div style="display:flex">
          <div class="col-print-3">
            {{ item.years }}
          </div>
          <div class="col-print-9">
            <div>{{ item.activity }}</div>
          </div>
        </div>
      </div>
    {% endfor %}

    <h3>Peer Reviewing</h3>
    {% for item in site.data.cv.service.peer_reviewing %}
      <div class="entry">
        <div style="display:flex">
          <div class="col-print-3">
            {{ item.year }}
          </div>
          <div class="col-print-9">
            <div>
              {% for venue in item.venues %}
                {% if venue.name %}
                  {{ venue.name }}{% if venue.award %} (<span class="paper-award">{{ venue.award }}</span>){% endif %}{% unless forloop.last %}, {% endunless %}
                {% else %}
                  {{ venue }}{% unless forloop.last %}, {% endunless %}
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}

    <h3>Other Academic Service</h3>
    {% for item in site.data.cv.service.academic %}
      <div class="entry">
        <div style="display:flex">
          <div class="col-print-3">
            {{ item.year }}
          </div>
          <div class="col-print-9">
            <div>{{ item.activities | join: ", " }}</div>
          </div>
        </div>
      </div>
    {% endfor %}

    <h3>Event Organizing</h3>
    {% for item in site.data.cv.service.event_organizing %}
      <div class="entry">
        <div style="display:flex">
          <div class="col-print-3">
            {{ item.year }}
          </div>
          <div class="col-print-9">
            <div>{{ item.events | join: ", " }}</div>
          </div>
        </div>
      </div>
    {% endfor %}

    <h3>Community Building & Activism</h3>
    {% for item in site.data.cv.service.community %}
      <div class="entry">
        <div style="display:flex">
          <div class="col-print-3">
            {{ item.year }}
          </div>
          <div class="col-print-9">
            <div>{{ item.organizations | join: ", " }}</div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>


<section>
  <div class="col-print-3">
    <h2>Selected Press</h2>
  </div>
  <div class="col-print-9">
    <h3>Featured</h3>
    {% for pub in site.data.cv.press.featured %}
      <div class="entry">
        {{pub.year}}. {% if pub.url %}<a class="paper-title" href="{{pub.url}}">{{pub.title}}</a>{% else %}<span class="paper-title">{{pub.title}}</span>{% endif %}. {% if pub.venue %}<span class="paper-venue">{{pub.venue}}</span>.{% endif %}
      </div>
    {% endfor %}

    <h3>Quoted</h3>
    {% for pub in site.data.cv.press.quoted %}
      <div class="entry">
        {{pub.year}}. {% if pub.url %}<a class="paper-title" href="{{pub.url}}">{{pub.title}}</a>{% else %}<span class="paper-title">{{pub.title}}</span>{% endif %}. {% if pub.venue %}<span class="paper-venue">{{pub.venue}}</span>.{% endif %}
      </div>
    {% endfor %}
  </div>
</section>

<script>
  $(document).ready(function() {
    $('.paper-authors').html(function() {
      return $(this).html().replace('Jonathan Zong', '<span class="paper-my-name">Jonathan Zong</span>')
    })
  })
</script>