---
active_section: cv
title: CV
---
<meta name="robots" content="noindex">
<link rel="stylesheet" href="{{ "/stylesheets/cv.css" | prepend: site.baseurl }}">

<section id="getpdf"><a href="/assets/jzong_cv.pdf">Click here for a PDF.</a></section>

<section id="cv-head">
    <div class="col-print-9">
      <h1>Jonathan Zong</h1>
    </div>
    <div class="col-print-3" id="cv-contact">
      <div><a href="https://jonathanzong.com/">www.jonathanzong.com</a></div>
      <div><a href="mailto:jzong@mit.edu">jzong@mit.edu</a></div>
    </div>
</section>

<section>
    <div class="col-print-3">
      <h2>Education</h2>
    </div>
    <div class="col-print-9">
      <div class="entry">
        <h3>Massachusetts Institute of Technology</h3>

        <div style="display:flex">
          <div class="col-print-2">
            2018–
          </div>
          <div class="col-print-10">
            <div>Ph.D. Electrical Engineering & Computer Science</div>
            <div>Minor in Science, Technology, and Society</div>
            <div class="meta-text">Advisor: Arvind Satyanarayan</div>
          </div>
        </div>

        <div style="display:flex">
          <div class="col-print-2">
            2018–2020
          </div>
          <div class="col-print-10">
            S.M. Electrical Engineering & Computer Science
          </div>
        </div>
      </div>


      <div class="entry">
        <h3>Princeton University</h3>

        <div style="display:flex">
          <div class="col-print-2">
            2014–2018
          </div>
          <div class="col-print-10">
            <div>B.S.E. Computer Science</div>
            <div class="meta-text">Advisor: J. Nathan Matias</div>
            <div>Certificate in Visual Arts</div>
            <div class="meta-text">Advisor: David Reinfurt</div>
          </div>
        </div>
      </div>


      <div class="entry">
        <h3>University of Oxford</h3>

        <div style="display:flex">
          <div class="col-print-2">
            Spring 2017
          </div>
          <div class="col-print-10">
            <div>Visiting Student</div>
          </div>
        </div>
      </div>
    </div>
</section>



<section>
  <div class="col-print-3">
    <h2>Research Experience</h2>
  </div>
  <div class="col-print-9">
    <div class="entry">
      <h3>Visualization Group, MIT Computer Science and Artificial Intelligence Lab</h3>

      <div style="display:flex">
        <div class="col-print-2">
          2018–
        </div>
        <div class="col-print-10">
          <div>Graduate Researcher</div>
          <div class="meta-text">Advisor: Arvind Satyanarayan</div>
        </div>
      </div>
    </div>

    <div class="entry">
      <h3>Digital Theory Lab, New York University</h3>

      <div style="display:flex">
        <div class="col-print-2">
          Nov 2020–
        </div>
        <div class="col-print-10">
          <div>Affiliate</div>
        </div>
      </div>
    </div>

    <div class="entry">
      <h3>Citizens and Technology Lab, Cornell University</h3>

      <div style="display:flex">
        <div class="col-print-2">
          Jun–Aug 2020
        </div>
        <div class="col-print-10">
          <div>Graduate Research Fellow</div>
          <div class="meta-text">Mentor: J. Nathan Matias</div>
        </div>
      </div>
    </div>


    <div class="entry">
      <h3>Center for Information Technology Policy, Princeton University</h3>

      <div style="display:flex">
        <div class="col-print-2">
          2017–2018
        </div>
        <div class="col-print-10">
          <div>Undergraduate Researcher</div>
          <div class="meta-text">Advisor: J. Nathan Matias</div>
        </div>
      </div>
    </div>


    <div class="entry">
      <h3>Oxford Internet Institute, University of Oxford</h3>

      <div style="display:flex">
        <div class="col-print-2">
          Feb–Jun 2017
        </div>
        <div class="col-print-10">
          <div>Undergraduate Researcher</div>
          <div class="meta-text">Mentor: Scott Hale</div>
        </div>
      </div>
    </div>

    <div class="entry">
      <h3>Fluid Interfaces Group, MIT Media Lab</h3>

      <div style="display:flex">
        <div class="col-print-2">
          Jan 2016
        </div>
        <div class="col-print-10">
          <div>Undergraduate Researcher</div>
          <div class="meta-text">Mentor: Tal Achituv</div>
        </div>
      </div>
    </div>

  </div>

</section>



<section>
  <div class="col-print-3">
    <h2>Work Experience</h2>
  </div>
  <div class="col-print-9">
    <div class="entry">
      <h3>Google Research, AI UX Team</h3>

      <div style="display:flex">
        <div class="col-print-2">
          Jun–Sep 2018
        </div>
        <div class="col-print-10">
          <div>UX Engineering Intern</div>
        </div>
      </div>
    </div>

    <div class="entry">
      <h3>Google Design, Material UX Team</h3>

      <div style="display:flex">
        <div class="col-print-2">
          Jun–Sep 2017
        </div>
        <div class="col-print-10">
          <div>UX Engineering Intern</div>
        </div>
      </div>
    </div>

    <div class="entry">
      <h3>Linked by Air</h3>

      <div style="display:flex">
        <div class="col-print-2">
          Jun–Aug 2016
        </div>
        <div class="col-print-10">
          <div>Software and Design Intern</div>
        </div>
      </div>
    </div>


    <div class="entry">
      <h3>Square</h3>

      <div style="display:flex">
        <div class="col-print-2">
          Jun–Sep 2015
        </div>
        <div class="col-print-10">
          <div>Software Engineering Intern</div>
        </div>
      </div>
    </div>


    <div class="entry">
      <h3>Coursera</h3>

      <div style="display:flex">
        <div class="col-print-2">
          Jun–Aug 2014
        </div>
        <div class="col-print-10">
          <div>Software Engineering Intern (KPCB Engineering Fellow)</div>
        </div>
      </div>
    </div>

  </div>

</section>



<section>
  <div class="col-print-3">
    <h2>Awards & Honors</h2>
  </div>
  <div class="col-print-9">
    <div class="entry">
      <div style="display:flex">
        <div class="col-print-2">
          2022
        </div>
        <div class="col-print-10">
          <h3>MIT Morningside Academy for Design Fellowship</h3>
          <h3>MIT Prize for Open Data Honorable Mention</h3>
          <h3>Fast Company Innovation By Design Awards Finalist</h3>
        </div>
      </div>
    </div>

    <div class="entry">
      <div style="display:flex">
        <div class="col-print-2">
          2020
        </div>
        <div class="col-print-10">
          <h3>Schnitzer Prize in the Visual Arts, MIT</h3>
        </div>
      </div>
    </div>

    <div class="entry">
      <div style="display:flex">
        <div class="col-print-2">
          2019
        </div>
        <div class="col-print-10">
          <h3>Paul and Daisy Soros Fellowship for New Americans</h3>
          <h3>NSF Graduate Research Fellowship</h3>
          <h3>Hertz Foundation Fellowship Finalist</h3>
        </div>
      </div>
    </div>

    <div class="entry">
      <div style="display:flex">
        <div class="col-print-2">
          2018
        </div>
        <div class="col-print-10">
          <h3>Lucas Award in Visual Arts, Princeton University</h3>
          <h3>NSF Graduate Research Fellowship Honorable Mention</h3>
        </div>
      </div>
    </div>

    <div class="entry">
      <div style="display:flex">
        <div class="col-print-2">
          2017
        </div>
        <div class="col-print-10">
          <h3>Santos-Dumont Prize for Innovation, Princeton University</h3>
          <h3>Tau Beta Pi Scholarship</h3>
          <h3>Students All to Chaumont 3rd Place, Centre National du Graphisme</h3>
          <h3>Peter B. Lewis Summer Fund for the Arts</h3>
        </div>
      </div>
    </div>

    <div class="entry">
      <div style="display:flex">
        <div class="col-print-2">
          2016
        </div>
        <div class="col-print-10">
          <h3>Facebook Global Hackathon Finals Honorable Mention</h3>
        </div>
      </div>
    </div>

    <div class="entry">
      <div style="display:flex">
        <div class="col-print-2">
          2015
        </div>
        <div class="col-print-10">
          <h3>Greylock Partners Hackfest, 1st Place</h3>
        </div>
      </div>
    </div>

    <div class="entry">
      <div style="display:flex">
        <div class="col-print-2">
          2014
        </div>
        <div class="col-print-10">
          <h3>HackRice, 1st Place, Rice University</h3>
          <h3>KPCB Engineering Fellowship</h3>
          <h3>MIT THINK Scholars</h3>
          <h3>Interact Fellowship</h3>
        </div>
      </div>
    </div>
    <div class="entry">
      <div style="display:flex">
        <div class="col-print-2">
          2012
        </div>
        <div class="col-print-10">
          <h3>Eagle Scout</h3>
        </div>
      </div>
    </div>

  </div>

</section>



<section>
  <div class="col-print-3">
    <h2>Publications</h2>
  </div>
  <div class="col-print-9">
    <h2>Peer-Reviewed Publications</h2>
    {% for pub in site.data.cv.publications.pubs %}
      <div class="entry">
        {{pub.year}}. {% if pub.url %}<a class="paper-title" href="{{pub.url}}">{{pub.title}}</a>{% else %}<span class="paper-title">{{pub.title}}</span>{% endif %}. <span class="paper-authors">{{pub.authors}}</span>. {% if pub.venue %}<span class="paper-venue">{{pub.venue}}</span>.{% endif %} {% if pub.award %}<span class="paper-award">{{pub.award}}</span>{% endif %}
      </div>
    {% endfor %}

    <h2>Magazine Articles</h2>
    {% for pub in site.data.cv.publications.magazines %}
      <div class="entry">
        {{pub.year}}. {% if pub.url %}<a class="paper-title" href="{{pub.url}}">{{pub.title}}</a>{% else %}<span class="paper-title">{{pub.title}}</span>{% endif %}. <span class="paper-authors">{{pub.authors}}</span>. {% if pub.venue %}<span class="paper-venue">{{pub.venue}}</span>.{% endif %}
      </div>
    {% endfor %}

    <h2>Workshops, Conferences, Posters, and Demos</h2>
    {% for pub in site.data.cv.publications.wopodemo %}
      <div class="entry">
        {{pub.year}}. {% if pub.url %}<a class="paper-title" href="{{pub.url}}">{{pub.title}}</a>{% else %}<span class="paper-title">{{pub.title}}</span>{% endif %}. <span class="paper-authors">{{pub.authors}}</span>. {% if pub.venue %}<span class="paper-venue">{{pub.venue}}</span>.{% endif %} {% if pub.award %}<span class="paper-award">{{pub.award}}</span>{% endif %}
      </div>
    {% endfor %}

    <h2>Theses</h2>
    {% for pub in site.data.cv.publications.thesis %}
      <div class="entry">
        {{pub.year}}. {% if pub.url %}<a class="paper-title" href="{{pub.url}}">{{pub.title}}</a>{% else %}<span class="paper-title">{{pub.title}}</span>{% endif %}. {% if pub.venue %}<span class="paper-venue">{{pub.venue}}</span>.{% endif %}
      </div>
    {% endfor %}
  </div>

</section>

<section>
  <div class="col-print-3">
    <h2>Talks & Presentations</h2>
  </div>
  <div class="col-print-9">
    <h2>Invited Talks</h2>
    {% for pub in site.data.cv.talks.invited %}
      <div class="entry">
        {{pub.year}}. {% if pub.url %}<a class="paper-title" href="{{pub.url}}">{{pub.title}}</a>{% else %}<span class="paper-title">{{pub.title}}</span>{% endif %}{% unless pub.venues %}.{% endunless %} {% if pub.venue %}<span class="paper-venue">{{pub.venue}}</span>.{% endif %}
        {% if pub.venues %}
          {% for venue in pub.venues %}
          <div class="paper-venue paper-venue--list">{{venue}}</div>
          {% endfor %}
        {% endif %}
      </div>
    {% endfor %}

    <h2>Conference Talks and Panels</h2>
    {% for pub in site.data.cv.talks.conference %}
      <div class="entry">
        {{pub.year}}. {% if pub.url %}<a class="paper-title" href="{{pub.url}}">{{pub.title}}</a>{% else %}<span class="paper-title">{{pub.title}}</span>{% endif %}. {% if pub.venue %}<span class="paper-venue">{{pub.venue}}</span>.{% endif %}
        {% if pub.venues %}
          {% for venue in pub.venues %}
            <div class="paper-venue paper-venue--list">{{venue}}</div>
          {% endfor %}
        {% endif %}
      </div>
    {% endfor %}
  </div>
</section>


<section>
  <div class="col-print-3">
    <h2>Public Scholarship</h2>
  </div>
  <div class="col-print-9">
    <h2>Op-Eds</h2>
    {% for pub in site.data.cv.public_scholarship.opeds %}
      <div class="entry">
        {{pub.year}}. {% if pub.url %}<a class="paper-title" href="{{pub.url}}">{{pub.title}}</a>{% else %}<span class="paper-title">{{pub.title}}</span>{% endif %}. <span class="paper-authors">{{pub.authors}}</span>. {% if pub.venue %}<span class="paper-venue">{{pub.venue}}</span>.{% endif %}
      </div>
    {% endfor %}

    <h2>Conversations</h2>
    {% for pub in site.data.cv.public_scholarship.conversations %}
      <div class="entry">
        {{pub.year}}. {% if pub.url %}<a class="paper-title" href="{{pub.url}}">{{pub.title}}</a>{% else %}<span class="paper-title">{{pub.title}}</span>{% endif %}. {% if pub.authors %}<span class="paper-authors">{{pub.authors}}</span>.{% endif %} {% if pub.venue %}<span class="paper-venue">{{pub.venue}}</span>.{% endif %}
      </div>
    {% endfor %}

    <h2>Data Journalism</h2>
    {% for pub in site.data.cv.public_scholarship.datajourn %}
      <div class="entry">
        {{pub.year}}. {% if pub.url %}<a class="paper-title" href="{{pub.url}}">{{pub.title}}</a>{% else %}<span class="paper-title">{{pub.title}}</span>{% endif %}. <span class="paper-authors">{{pub.authors}}</span>. {% if pub.venue %}<span class="paper-venue">{{pub.venue}}</span>.{% endif %}
      </div>
    {% endfor %}
  </div>
</section>

<section>
  <div class="col-print-3">
    <h2>Teaching</h2>
  </div>
  <div class="col-print-9">
    <h2>Instructor</h2>

    {% for pub in site.data.cv.teaching.instructor %}
      <div class="entry">
        <div>{{pub.year}}. {% if pub.url %}<a class="paper-title" href="{{pub.url}}">{{pub.title}}</a>{% else %}<span class="paper-title">{{pub.title}}</span>{% endif %}. {{ pub.institution }}</div>
        {% if pub.meta %}<div class="meta-text">{{ pub.meta }}</div>{% endif %}
      </div>
    {% endfor %}

    <h2>Guest Lecturer</h2>

    {% for pub in site.data.cv.teaching.guest %}
      <div class="entry">
        <div>{{pub.year}}. {% if pub.url %}<a class="paper-title" href="{{pub.url}}">{{pub.title}}</a>{% else %}<span class="paper-title">{{pub.title}}</span>{% endif %}. {{ pub.institution }}</div>
        {% if pub.meta %}<div class="meta-text">{{ pub.meta }}</div>{% endif %}
      </div>
    {% endfor %}

    <h2>Guest Critic</h2>

    {% for pub in site.data.cv.teaching.critic %}
      <div class="entry">
        <div>{{pub.year}}. {% if pub.url %}<a class="paper-title" href="{{pub.url}}">{{pub.title}}</a>{% else %}<span class="paper-title">{{pub.title}}</span>{% endif %}. {{ pub.institution }}</div>
        {% if pub.meta %}<div class="meta-text">{{ pub.meta }}</div>{% endif %}
      </div>
    {% endfor %}

  </div>
</section>

<section>
  <div class="col-print-3">
    <h2>Exhibitions</h2>
  </div>
  <div class="col-print-9">
    <div class="entry">
      <div style="display:flex">
        <div class="col-print-2">
          2020
        </div>
        <div class="col-print-10">
          {% for pub in site.data.cv.exhibitions.2020 %}
            <div>{% if pub.url %}<a class="paper-title" href="{{pub.url}}">{{pub.title}}</a>{% else %}<span class="paper-title">{{pub.title}}</span>{% endif %}. {% if pub.venue %}<span class="paper-venue">{{pub.venue}}</span>.{% endif %}</div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="entry">
      <div style="display:flex">
        <div class="col-print-2">
          2018
        </div>
        <div class="col-print-10">
          {% for pub in site.data.cv.exhibitions.2018 %}
            <div>{% if pub.url %}<a class="paper-title" href="{{pub.url}}">{{pub.title}}</a>{% else %}<span class="paper-title">{{pub.title}}</span>{% endif %}. {% if pub.venue %}<span class="paper-venue">{{pub.venue}}</span>.{% endif %}</div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="entry">
      <div style="display:flex">
        <div class="col-print-2">
          2017
        </div>
        <div class="col-print-10">
          {% for pub in site.data.cv.exhibitions.2017 %}
            <div>{% if pub.url %}<a class="paper-title" href="{{pub.url}}">{{pub.title}}</a>{% else %}<span class="paper-title">{{pub.title}}</span>{% endif %}. {% if pub.venue %}<span class="paper-venue">{{pub.venue}}</span>.{% endif %}</div>
          {% endfor %}
        </div>
      </div>
    </div>

  </div>
</section>

<section>
  <div class="col-print-3">
    <h2>Collections</h2>
  </div>
  <div class="col-print-9">
    <div class="entry">
      <div style="display:flex">
        <div class="col-print-2">
          2018
        </div>
        <div class="col-print-10">
          <h3>Van Alan Clark, Jr. Library, School of the Museum of Fine Arts, Tufts University</h3>
          <div class="meta-text"><a href="https://tufts-primo.hosted.exlibrisgroup.com/permalink/f/bnf7qa/01TUN_ALMA21205187020003851">Everyone Should</a></div>
        </div>
      </div>
    </div>
    <div class="entry">
      <div style="display:flex">
        <div class="col-print-2">
          2016
        </div>
        <div class="col-print-10">
          <h3>Graphic Arts Collection, Firestone Library, Princeton University</h3>
          <div class="meta-text"><a href="https://graphicarts.princeton.edu/2016/05/20/nap-poems-published-by-the-letterpress-club/">Nap Poems</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="col-print-3">
    <h2>Art Book Fairs</h2>
  </div>
  <div class="col-print-9">
    <div class="entry">
      <div style="display:flex">
        <div class="col-print-2">
          2019
        </div>
        <div class="col-print-10">
          <h3>Tiny Tech Zines, Navel LA</h3>
          <div class="meta-text">with Free Radicals</div>
        </div>
      </div>
    </div>
    <div class="entry">
      <div style="display:flex">
        <div class="col-print-2">
          2019
        </div>
        <div class="col-print-10">
          <h3>Press Play, Pioneer Works</h3>
          <div class="meta-text">with Tech Zine Fair</div>
        </div>
      </div>
    </div>
    <div class="entry">
      <div style="display:flex">
        <div class="col-print-2">
          2018
        </div>
        <div class="col-print-10">
          <h3>Odds and Ends, Yale University</h3>
          <h3>Zine Soup 3.0: Makers Market, Chinatown Soup</h3>
          <h3>NY Tech Zine Fair, School for Poetic Computation</h3>
          <h3>Boston Art Book Fair, Boston Center for the Arts</h3>
        </div>
      </div>
    </div>


  </div>
</section>

<section>
  <div class="col-print-3">
    <h2>Student Mentorship</h2>
  </div>
  <div class="col-print-9">
    <h2>M.Eng. Students</h2>
    {% for pub in site.data.cv.mentorship.meng %}
      <div class="entry">
        <div style="display:flex">
          <div class="col-print-2">
            {{pub.year}}
          </div>
          <div class="col-print-10">
            <div>{{pub.names}}</div>
          </div>
        </div>
      </div>
    {% endfor %}

    <h2>Undergraduate Students</h2>
    {% for pub in site.data.cv.mentorship.undergrad %}
      <div class="entry">
        <div style="display:flex">
          <div class="col-print-2">
            {{pub.year}}
          </div>
          <div class="col-print-10">
            <div>{{pub.names}}</div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

<section>
  <div class="col-print-3">
    <h2>Service</h2>
  </div>
  <div class="col-print-9">
    <h2>Peer Reviewing</h2>
    <div class="entry">
      <div style="display:flex">
        <div class="col-print-2">
          2023
        </div>
        <div class="col-print-10">
          <div>ACM CHI</div>
        </div>
      </div>
    </div>
    <div class="entry">
    <div class="entry">
      <div style="display:flex">
        <div class="col-print-2">
          2022
        </div>
        <div class="col-print-10">
          <div>ACM CHI (<span class="paper-award">Special Recognition for Outstanding Review</span>), IEEE VIS, JERHRE</div>
        </div>
      </div>
    </div>
    <div class="entry">
      <div style="display:flex">
        <div class="col-print-2">
          2021
        </div>
        <div class="col-print-10">
          <div>IEEE VIS</div>
        </div>
      </div>
    </div>
    <h2>Event Organizing</h2>
    <div class="entry">
      <div style="display:flex">
        <div class="col-print-2">
          2022
        </div>
        <div class="col-print-10">
          <div>Princeton University Workshop on Ethics of Field Experiments</div>
        </div>
      </div>
    </div>
    <h2>Community Building & Activism</h2>
    <div class="entry">
      <div style="display:flex">
        <div class="col-print-2">
          2020–
        </div>
        <div class="col-print-10">
          <div>MIT Graduate Student Union, Organizer</div>
        </div>
      </div>
    </div>
    <div class="entry">
      <div style="display:flex">
        <div class="col-print-2">
          2020–
        </div>
        <div class="col-print-10">
          <div>MIT Human-Computer Interaction, Social Committee</div>
        </div>
      </div>
    </div>
    <div class="entry">
      <div style="display:flex">
        <div class="col-print-2">
          2019–20
        </div>
        <div class="col-print-10">
          <div>MIT Students Against War</div>
        </div>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="col-print-3">
    <h2>Selected Press</h2>
  </div>
  <div class="col-print-9">
    <h2>Featured</h2>
    {% for pub in site.data.cv.press.featured %}
      <div class="entry">
        {{pub.year}}. {% if pub.url %}<a class="paper-title" href="{{pub.url}}">{{pub.title}}</a>{% else %}<span class="paper-title">{{pub.title}}</span>{% endif %}. {% if pub.venue %}<span class="paper-venue">{{pub.venue}}</span>.{% endif %}
      </div>
    {% endfor %}

    <h2>Quoted</h2>
    {% for pub in site.data.cv.press.quoted %}
      <div class="entry">
        {{pub.year}}. {% if pub.url %}<a class="paper-title" href="{{pub.url}}">{{pub.title}}</a>{% else %}<span class="paper-title">{{pub.title}}</span>{% endif %}. {% if pub.venue %}<span class="paper-venue">{{pub.venue}}</span>.{% endif %}
      </div>
    {% endfor %}
  </div>
</section>

<script>
  $(document).ready(function() {
    $('.paper-authors').html(function() {
      return $(this).html().replace('Jonathan Zong', '<span class="paper-my-name">Jonathan Zong</span>')
    })
  })
</script>