---
active_section: cv
title: CV
---
<meta name="robots" content="noindex">
<link rel="stylesheet" href="{{ "/stylesheets/cv.css" | prepend: site.baseurl }}">

<section id="getpdf"><a href="/assets/jzong_cv.pdf">Click here for a PDF.</a></section>

<section id="cv-head">
    <div class="col-print-9">
      <h1>Jonathan Zong</h1>
    </div>
    <div class="col-print-3" id="cv-contact">
      <div><a href="https://jonathanzong.com/">www.jonathanzong.com</a></div>
      <div><a href="mailto:jzong@mit.edu">jzong@mit.edu</a></div>
    </div>
</section>

<section>
    <div class="col-print-3">
      <h2>Education</h2>
    </div>
    <div class="col-print-9">
      <div class="entry">
        <h3>Massachusetts Institute of Technology</h3>

        <div style="display:flex">
          <div class="col-print-2">
            2018–
          </div>
          <div class="col-print-10">
            <div>Ph.D. Electrical Engineering & Computer Science</div>
            <div>Minor in Science, Technology, and Society</div>
            <div class="meta-text">Advisor: Arvind Satyanarayan</div>
          </div>
        </div>

        <div style="display:flex">
          <div class="col-print-2">
            2018–2020
          </div>
          <div class="col-print-10">
            S.M. Electrical Engineering & Computer Science
          </div>
        </div>
      </div>


      <div class="entry">
        <h3>Princeton University</h3>

        <div style="display:flex">
          <div class="col-print-2">
            2014–2018
          </div>
          <div class="col-print-10">
            <div>B.S.E. Computer Science</div>
            <div>Certificate in Visual Arts</div>
          </div>
        </div>
      </div>

    </div>
</section>

<section>
  <div class="col-print-3">
    <h2>Selected Awards</h2>
  </div>
  <div class="col-print-9">
    <div class="entry">
      <div style="display:flex">
        <div class="col-print-2">
          2020
        </div>
        <div class="col-print-10">
          <h3>Schnitzer Prize in the Visual Arts, MIT</h3>
        </div>
      </div>
    </div>

    <div class="entry">
      <div style="display:flex">
        <div class="col-print-2">
          2019
        </div>
        <div class="col-print-10">
          <h3>Paul and Daisy Soros Fellowship for New Americans</h3>
          <h3>NSF Graduate Research Fellowship</h3>
          <h3>Hertz Foundation Fellowship Finalist</h3>
        </div>
      </div>
    </div>

    <div class="entry">
      <div style="display:flex">
        <div class="col-print-2">
          2018
        </div>
        <div class="col-print-10">
          <h3>Lucas Award in Visual Arts, Princeton University</h3>
        </div>
      </div>
    </div>

    <div class="entry">
      <div style="display:flex">
        <div class="col-print-2">
          2017
        </div>
        <div class="col-print-10">
          <h3>Santos-Dumont Prize for Innovation, Princeton University</h3>
          <h3>Students All to Chaumont 3rd Place, Centre National du Graphisme</h3>
        </div>
      </div>
    </div>

    <div class="entry">
      <div style="display:flex">
        <div class="col-print-2">
          2016
        </div>
        <div class="col-print-10">
          <h3>Facebook Global Hackathon Finals Honorable Mention</h3>
        </div>
      </div>
    </div>

  </div>

</section>



<section>
  <div class="col-print-3">
    <h2>Selected Publications</h2>
  </div>
  <div class="col-print-9">
    <h2>Peer-Reviewed Publications</h2>
    {% for pub in site.data.cv.publications.pubs %}
      <div class="entry">
        {{pub.year}}. {% if pub.url %}<a class="paper-title" href="{{pub.url}}">{{pub.title}}</a>{% else %}<span class="paper-title">{{pub.title}}</span>{% endif %}. <span class="paper-authors">{{pub.authors}}</span>. <span class="paper-venue">{{pub.venue}}</span>. {% if pub.award %}<span class="paper-award">{{pub.award}}</span>{% endif %}
      </div>
    {% endfor %}

    <h2>Posters and Demos</h2>
    {% for pub in site.data.cv.publications.wopodemo %}
      <div class="entry">
        {{pub.year}}. {% if pub.url %}<a class="paper-title" href="{{pub.url}}">{{pub.title}}</a>{% else %}<span class="paper-title">{{pub.title}}</span>{% endif %}. <span class="paper-authors">{{pub.authors}}</span>. <span class="paper-venue">{{pub.venue}}</span>. {% if pub.award %}<span class="paper-award">{{pub.award}}</span>{% endif %}
      </div>
    {% endfor %}

    <h2>Data Journalism</h2>
    {% for pub in site.data.cv.public_scholarship.datajourn %}
      <div class="entry">
        {{pub.year}}. {% if pub.url %}<a class="paper-title" href="{{pub.url}}">{{pub.title}}</a>{% else %}<span class="paper-title">{{pub.title}}</span>{% endif %}. <span class="paper-authors">{{pub.authors}}</span>.
      </div>
    {% endfor %}
  </div>


</section>

<section>
  <div class="col-print-3">
    <h2>Selected Press</h2>
  </div>
  <div class="col-print-9">

    {% for pub in site.data.cv.press.featured %}
      <div class="entry">
        {{pub.year}}. {% if pub.url %}<a class="paper-title" href="{{pub.url}}">{{pub.title}}</a>{% else %}<span class="paper-title">{{pub.title}}</span>{% endif %}. <span class="paper-venue">{{pub.venue}}</span>.
      </div>
    {% endfor %}
  </div>
</section>

<script>
  $(document).ready(function() {
    $('.paper-authors').html(function() {
      return $(this).html().replace('Jonathan Zong', '<span class="paper-my-name">Jonathan Zong</span>')
    })
  })
</script>