@font-face {
font-family: ProximaNova;
src: url("http://think.mit.edu/static/fonts/ProximaNova-Light.otf") format("opentype");
}

@font-face {
font-family: kulturista;
font-weight: normal;
src: url("http://think.mit.edu/static/fonts/Kulturista Light.otf") format("opentype");
}

@font-face {
font-family: kulturista;
font-weight: 500;
src: url("http://think.mit.edu/static/fonts/Kulturista Medium.otf") format("opentype");
}

@font-face {
font-family: kulturista;
font-weight: bold;
src: url("http://think.mit.edu/static/fonts/Kulturista Bold.otf") format("opentype");
}
html {

	height: 100%;
}
body{
	font-weight: normal;
    font-family: 'Open Sans', sans-serif;
	height: 100%;
}

/** SITE **/

#navbar{
    background-color: #ede62f;
}
#navbar a{
	color: #000
}
#navbar ul{
    text-align: center;

}
#navbar li {
    display: inline-block;
    width: auto;
    min-width: 120px;
}
#navbar li a{
    font-size: 20px;
    display: block;
    padding: 10px 25px;
    text-align: center;
    font-weight: 300;
}
#navbar li:hover{
    cursor: pointer;
    background-color: rgba(255,255,255,0.5);
}
#navbar ul li:hover > ul {
	display: block;
}
#navbar ul ul{
	position: absolute;
	z-index: 10;
	display: none;
}
#navbar ul ul li{
	display: block;
	margin: 0;
	width: auto;
        min-width: 120px;
}
#navbar ul ul li a{
	padding: 8px 25px;
	text-align: center;
	margin: 0;
	font-size: 16px;
	font-weight: 200;
	background-color: #feffe7;
}
#navbar ul ul li a:hover{
	background-color: #f5f296;
}

/** MAIN CONTENT PAGES **/
.wrapper {

	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -200px auto; /* the bottom margin is the negative value of the footer's height */

}
h2{
    font-family: kulturista, courier new, serif;
    font-size: 30px;
    line-height: 32px;
    margin-top: 10px;
}
h3{
	font-size: 20px;
	margin-bottom: 10px;
}
h4{
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
}
h5{
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
}

select{
	margin-bottom: 20px;
	width: 100px;
}
#content ul.sitelist  {
	line-height: 16px;
	margin-left: 8px;
}
#content ul.sitelist li:before{
	content:"-";
	position:relative;
	left:-5px;
	margin-left: -5px;
}
#content ul.sitelist li{
	line-height: 22px;
	margin-left: 5px;
	margin-bottom: 8px;
}
#content {
	margin-top: 20px;
	margin-bottom: 20px;
}
#spark-logobar{
    background-image: url('spark.png');
    background-color: #000;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 36px;
}
#spark-logobar a{
	width: 100;
	display: block;
    height: 36px;
}

li.navbarheader{
	text-align: center;
	padding: 5px !important;
	line-height: normal;
	margin: 0 !important;
	background-color: #000;
	color: #ccc;
}
li.navbarheader:hover{
	background-color: #000;
	color: #ccc;
}
ul.accountnavbar{
	margin-bottom: 15px;
}
.application-buttons{
	text-align: right;
}

/** FOOTER **/

.push {
	height: 200px; /* .push must be the same height as .footer */
}

#footer{
    background-color: #444444;
    color: #dddddd;
    height: 218px;
}
#post-footer{
    background-color: #222222;
    color: #dddddd;
}
.fitheight-padding{
    padding: 3px !important;
}
.fitheight{
    height: 26px !important;
}
.fitheight p{
    padding: 0 !important;
    margin: 0 !important ;
    font-size: 13px;

}
.subtext{
	font-size: 13px;
	color: #666666;
}
.copyright-message{
    text-align: right;
}

/*
     FILE ARCHIVED ON 10:49:41 Aug 17, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:16:27 Oct 27, 2017.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
