---
active_section: projects
img: /images/projects/posters/angie-keefer.jpg
---

<h1>Print Posters</h1>
<br/>
<div class="gallery-items">
  {% for poster in site.data.posters %}
    <a href="#{{poster.img}}">
      <img class="poster" style="margin: 0 8px 6px 0" height="150" src="{{poster.img}}"/>
    </a>
  {% endfor %}
</div>
<br/>
<br/>
<div>
  {% for poster in site.data.posters %}
  <p id="{{poster.img}}">
    <img alt="{{poster.caption}}" class="poster" src="{{poster.img}}"/>
  </p>
  <br/>
  {% endfor %}
</div>

<style>
  .poster {
    box-shadow:0px 3px 10px 0px rgba(0,0,0,0.3)
  }
</style>
