---
active_section: projects
---

<h1>Print Posters</h1>
<br/>
<div class="gallery-items">
  {% for poster in site.data.posters %}
    <a href="{{poster.url}}" class="strip" {% if this.caption %}data-strip-caption="{{poster.caption}}"{% endif %} target="_blank">
      <img class="poster" style="margin: 0 8px 6px 0" height="150" src="{{poster.img}}"/>
    </a>
  {% endfor %}
</div>
<br/>
<br/>
<div>
  {% for poster in site.data.posters %}
  <p>
    <img class="poster" src="{{poster.img}}"/>
  </p>
  <br/>
  {% endfor %}
</div>

<script src="/javascripts/strip.pkgd.min.js"></script>
<link rel='stylesheet' href='/stylesheets/strip.css' />

<style>
  .poster {
    box-shadow:0px 3px 10px 0px rgba(0,0,0,0.3)
  }
</style>
