<p>
  Elsewhere
  <ul>
    <li><a href="https://design.mit.edu/people/profile/jonathan-zong">MIT Morningside Academy for Design</a></li>
    <li><a href="https://digitaltheorylab.org/">NYU Digital Theory Lab</a></li>
    <li><a href="https://citizensandtech.org/2020/06/meet-jonathan-zong-cat-labs-summer-graduate-research-fellow/">Citizens and Technology Lab at Cornell</a></li>
    <li><a href="http://vis.csail.mit.edu/">MIT Visualization Group</a></li>
  </ul>
</p>
<p>
  Formerly
  <ul>
    <li><a href="https://www.pdsoros.org/meet-the-fellows/jonathan-zong">Paul and Daisy Soros Fellowships for New Americans</a></li>
    <li><a href="https://printjobpress.github.io/" title="printjob press">printjob press</a></li>
    <li><a href="http://vis.princeton.edu/artist/jonathan-zong/">Princeton Visual Arts</a></li>
  </ul>
</p>