---
---

section {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5 {
  // font-family: 'Roboto Mono';
  font-weight: bold;
  margin: 0;
}

p {
  margin: 0;
}

h1 {
  text-transform: uppercase;
  font-size: 48px;
}

h2 {
  text-transform: uppercase;
  font-size: inherit;
  line-height: inherit;
  padding-right: 10px;
  margin-bottom: 0.3em;

  &:not(:first-child) {
    margin-top: 1em;
  }
}

h3 {
  font-size: inherit;
  line-height: inherit;
}

em {
  font-style: italic;
}

.entry {
  margin-bottom: 0.6em;
}

.paper-title {
  font-weight: bold;
}

span.paper-title {
  color: #777;
}

.paper-venue {
  font-style: italic;
}

.paper-venue--list {
  text-indent: 1em;
}

.paper-award {
  font-weight: bold;
}

.paper-my-name {
  text-decoration: underline;
}

#cv-contact {
  text-align: right;
}

@media screen and (max-width: 576px) {
  #cv-head {
    display: block;
  }
  #cv-contact {
    text-align: left;
  }
}

@media print {

  .break-before {
    page-break-before: always;
  }

  #getpdf {
    display: none;
  }

  body {
    margin: 0;
    background-color: #fff;
    color: black;
    font-size: 12px;
  }

  .container {
    width: 100%;
    padding: 0;
  }

  h1 {
    font-size: 36px;
  }

  #navbar {
    display: none;
  }

}

@media print {
  a[href]:after {
    content: none !important;
  }
}

.col-print-1 {flex: 1;}
.col-print-2 {flex: 2; padding-right: 5px;}
.col-print-3 {flex: 3;}
.col-print-4 {flex: 4;}
.col-print-5 {flex: 5;}
.col-print-6 {flex: 6;}
.col-print-7 {flex: 7;}
.col-print-8 {flex: 8;}
.col-print-9 {flex: 9;}
.col-print-10{flex: 10;}
.col-print-11{flex: 11;}
.col-print-12{flex: 12;}
