@font-face {
  font-family: 'Violet';
  src: url('/web/20210507154840im_/http://complicatingthecomputermouse.net/fonts/VioletSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: monospace;
  background: rgb(247, 252, 255);
  color: black;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0 0 12px 0;
  font-weight: normal;
}

h5 {
  color: blue;
}

.index h1 {
  z-index: 10;
  text-align: right;
  font-weight: normal;
  font-size: 1.25em;
  background: black;
  color: white;
}

a {
  color: red;
}

img {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

.cursors-wrapper {
  position: fixed;
  background: chartreuse;
  height: 80px;
  left: 0;
  right: 0;
  top: auto;
  bottom: 0;
  width: 100%;
  z-index: 10;
  text-align: center;
}
.conference .cursors-wrapper {
  background-color: yellow;
}
.cursors-wrapper small {
  font-size: .375em;
  display: block;
  padding: 3px;
}

.cursors,
.conference-cursors {
  height: 60%;
  background: yellow;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.conference-cursors {
  background: chartreuse;
}
.cursor {
  height: 26px;
  width: 24px;
  background: black;
  position: absolute;
  background: url('/web/20210507154840im_/http://complicatingthecomputermouse.net/images/cursor.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  background-position: center center;
  font-size: .385em;
  text-align: right;
}

.cursor p {
  padding-left: 10px;
  width: 50px;
}

.cursor-id {
  display: none;
}

.mouse-grid {
  padding-bottom: 300px;
}

small {
  display: block;
  margin-bottom: 12px;
}

.mouse-grid section {
  margin: 0;
  padding: 5px 12px;
  font-size: 1.25em;
  line-height: 1.25em;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 22px;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

@media only screen and (min-width: 740px) {
  .cursors-wrapper small {
    font-size: .675em;
    display: block;
    padding: 5px 3px 3px 3px;
  }
  .cursors, .conference-cursors {
    height: 73%;
    background: yellow;
  }
  .conference-cursors {
    background-color: chartreuse;
  }
  .mouse-grid {
    columns: 3 auto;
  }
}
.conf-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}

.conf-buttons a {
  display: block;
  margin-bottom: 20px;
}

.conf-buttons button {
  cursor: pointer;
  width: 90%;
  background: blue;
  color: white;
  border: 1px solid black;
  border-radius: 3px;
  word-break: break-word;
  padding: 12px;
  font-family: monospace;
}
.conf-buttons button:hover { 
  background: white;
  color: blue;
  
}
/* CONFERENCE PAGE STYLES */

.conf {
  border: 3px dotted black;
  width: 100%;
  display: flex;
  align-items: stretch;
  height: 100%;
}
.stream {
  width: 66.66%;
}
.streamwrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
.stream.nn .streamwrapper {
  padding-bottom: 74%;
}
.streamwrapper iframe,
.streamwrapper video  {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.chat {
  width: 33.33%;
  background-color: white;
  border: 1px solid black;
  overflow: scroll;
  height: 100%;
  padding: 8px;
}
.articles {
  width: 33.33%;
  display: flex;
}
.firepad .CodeMirror {
  width: 100%;
}
textarea {
  -moz-appearance:none;
}
.powered-by-firepad {
  display: none !important;
}
#chat .doc {
  height: 100%;
  overflow: hidden;
  border: none;
}

.more-conference-materials {
  border: 3px dotted black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 5px;
}
.more-conference-materials .welcome {
  width: 60%;
  padding-right: 25px;
}
.more-conference-materials .writing {
  display: block;
  width: 50%;
  margin: 0 5px;
  background-color: snow;
  color: black;
  height: 100%;
  border-radius: 10px;
  border: 1px solid red;
  font-size: .575em;
  padding: 10px;
  text-decoration: none;
}
.more-conference-materials .writing h2 {
  font-size: 2em;
  margin-bottom: 12px;
}
.more-conference-materials .writing h3 {
  font-size: 2em;
}
.more-conference-materials .writing:hover {
  background: white;
  color: red;
}
.conference h1,
.conference h2, 
.conference h3,
.conference p {
  font-weight: normal;
  margin: 0;
}
.conference a {
  color: blue;
}
.conference-program {
  border: 3px dotted white;
  background-color:  blue;
  padding: 10px;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.conference-program h2 {
  font-size: 2em;
  margin-bottom: 15px;
  background: white;
  border-radius: 10px;
  color: black;
  padding: 12px;
}
.conference-program h3 {
  font-size: 1.75em;
}
.conference-program .day {
  width: 48%;
}
.conference-program .day .session {
  margin-bottom: 22px;
  background: white;
  color: black;
  border-radius: 3px;
  padding: 5px;
}
.sponsors {
  background: rgb(63, 63, 63);
}
.sponsors h2,
.sponsors.presented h2 {
  padding: 12px 12px 0 12px;
  font-size: 1em;
  color: white;
}
.sponsors.presented h2 {
  padding-left: 0;
  color: black;
}
.sponsor-wrapper {
  display: flex;
  align-items: stretch;
}

.sponsors .sponsor {
  width: 33.33%;
  padding: 12px;
  color: white;
}

.sponsors .sponsor h3 a {
  font-size: 1.5em;
  display: block;
  margin-bottom: 22px;
  color: white;
}
.sponsors .sponsor h3 a:hover {
  color: yellow;
}
.sponsors .sponsor p {
  font-size: 1em;
}

.sponsors.presented {
  padding: 12px 12px 22px 12px;
  background: yellow;
  color: black;
}

.sponsors.presented h3 a {
  font-size: 1.5em;
  display: block;
  margin-bottom: 22px;
  color: black;
}
.sponsors.presented h3 a:hover {
  color: red;
}
.marquee {
  padding: 16px;
  font-size: .9675em;
  background-color:blue;
  color: white;
}
.marquee.welcome {
  background-color:snow;
  color: black;
  font-size: 1.25em;
}
.marquee.welcome a {
  color: black;
}
.conference-article {
  padding: 12px;
  max-width: 1600px;
  width: 100%;
  font-size: 16px;
  line-height: 1.75;
}
.conference-article img {
  display: block;
  width: 100%;
}
.conference-article h1 {
  font-size: 42px;
  line-height: 1.2em;
}
.conference-article h3 {
  font-size: 32px;
}
.conference-article h5 {
  font-size: inherit;
}
.conference-article p {
  margin: 0 0 24px 0;
}
.conference-article em {
  font-style: italic;
}
.conference-article img {
  display: block;
  max-width: 100%;
}
.conference-article span.image-label {
  font-size: smaller;
}
.conference-article .citation {
  color: red;
  font-size: 0.8em;
  vertical-align: super;
}
.conference-article ol {
  font-size: 0.8em;
  /*list-style-position: inside;*/
  /*padding-left: 0;*/
}
.conference-article ol li a {
  color:rgb(63, 63, 63);
}
.conference-article .marginnote {
  font-size: 0.8em;
  word-break: break-all;
}
.conference-article .marginnote a {
  color:rgb(63, 63, 63);
}
.program {
  background: black;
}
.program iframe {
  width: 100vw;
  margin: 0 auto;
  height: 1200px;
}
.conference-article.ms {
  margin: 0 auto;
  max-width: none;
}

.conference-article.ms h1, 
.conference-article.ms h2, 
.conference-article.ms p {
  width: 90%;
  max-width: 750px;
  margin: 0 auto 22px auto;
}

.chat pre {
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.more-conference-materials .chat-archive {
  width: 15%;
  min-width: 170px;
  margin: 0 5px;
  background-color: rgb(255, 127, 187);
  color: black;
  height: 100%;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 1.25em;
  padding: 10px;
  text-decoration: none;
  text-align: center;
}
.marquee.half {
  display: flex;
  padding: 0;
}
.marquee.half p:first-of-type {
  background-color: yellow;
  color: black;
  width: 66.66%;
  padding: 45px 10px 15px 10px;
}

.marquee.half p:last-of-type {
  background-color: black;
  color: yellow;
  width: 33.33%;
  padding: 45px 10px 15px 10px;
}
/*
     FILE ARCHIVED ON 15:48:40 May 07, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 02:41:23 Oct 14, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 285.657
  exclusion.robots: 0.09
  exclusion.robots.policy: 0.082
  RedisCDXSource: 1.739
  esindex: 0.005
  LoadShardBlock: 265.097 (3)
  PetaboxLoader3.datanode: 232.387 (4)
  CDXLines.iter: 16.711 (3)
  load_resource: 55.141
  PetaboxLoader3.resolve: 20.377
*/